<% layout('layout2')%>
<!DOCTYPE html>
<div class="container-fluid">
  <div class="row content">
	  <% include ../partials/sidebar %>
	  <div class="col-sm-9">
		  <h1>List of Users</h1>
	    <hr>
		<div class="row">
			<%for(i=0; i<data.length; i++){%>
			 <div class="column">
				<img class="card-img-top" src="/images/template_avatar.png" alt="Card image" style="width:100%">
			   <div class="card">
				 <h4><b><%= data[i].fullname %></b></h4>
  				 <p><%= data[i].email%></p>
  				  <p><%= data[i].id %></p>
			   </div>
			 </div>
			 <% }%>
		    </div>
		</div>
  	</div>
</div>
