<% layout('layout2')%>
<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
  <div class="row content">
	  <% include partials/sidebar %>
    <div class="col-sm-9">
      <hr>
      <h2>Add Company</h2>
      <p>Add company profile. Registered employees can give ratings andreviews.</p>
	 <a href="/company/create" class="btn btn-block btn-dark link_btn">Add</a>
      <br><hr>
      <h2>Rate</h2>
      <p>Rate and review other companies and get your company reviewed aswell.</p>
	 <a href="" class="btn btn-block btn-dark link_btn">Rate</a>
      <hr>
	 <hr>
	 <h2>Search</h2>
	 <p>Search through our business catalogue and find your best partner.</p>
	 <a href="" class="btn btn-block btn-dark link_btn">Search</a>
	 <br><hr>
	 <h2>Account</h2>
	 <p>Edit a User</p>
	 <a href="" class="btn btn-block btn-dark link_btn">Edit</a>
	 <hr>
    </div>
  </div>
</div>
</body>
</html>
