<% layout('layout') %>
<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">RateMe</a></h1>
    </div>
   <br><br>
   <div class="banner-title text-center reg_msg">
        <h2 class="fancy"><span>Enter Your Email</span></h2>
   </div>
   <br><br>
    <p class="text-center">Please enter your email and a password reset link will be sent.</p>
    <div class="row signup">
        <% if(hasErrors) {%>
            <% for(var i = 0; i < messages.length; i++) {%>
                <div class="alert alert-danger">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">
                       &times;
                   </a>
                   <%= messages[i] %>

                </div>
            <% } %>
        <% } %>
        <% if(noErrors) {%>
            <div class="alert alert-info">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= info %>
            </div>
        <% } %>

	 <div class = "container">
	   	<div class="wrapper">
	   		<form action="/forgot" method="post" class="form-signin">
	   		    <h3 class="form-signin-heading">Forgot Password</h3>
	   			  <hr class="colorgraph"><br>
	   			  <input type="text" class="form-control" name="email" placeholder="Email" autofocus="" />
				  <br>
	   			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Submit" type="Submit">Submit</button>
	   			  <div class="form-group">
	    			  	<h5 class="center_account_text">Already Reset your password?<a href="/login">Login</a></h5>
	   			  </div>
	   		</form>
	   	</div>
	   </div>
