<% layout('layout') %>
<div class = "container">
	<div class="wrapper">
		<% if(hasErrors) {%>
			   <% for(var i = 0; i <messages.length; i++) {%>
				  <div class="alert alert-danger">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">
					    &times;
					</a>
					<%= messages[i] %>
				  </div>
			   <% } %>
		    <% } %>
		<form action="/login" method="post" name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Sign In</h3>
			  <input type="text" class="form-control" name="email" placeholder="Email" autofocus="" />
			  <br>
			  <input type="password" class="form-control" name="password" placeholder="Password"/>
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
			  <!-- <div class="form-group">
				 <label for="">
					<input type="checkbox" name="rememberme" class="" value="yes">
				 </label>&nbsp;&nbsp;Remember Me
			  </div> -->
			  <hr>
			  <div class="display_flex_social">
				  <a href="/auth/twitter" class="fb btn">
				  	<i class="fa fa-twitter fa-fw btn_twitter_hide"></i> Twitter
				  </a>
				  <a href="/auth/google" class="google btn btn_google_hide"><i class="fa fa-google fa-fw">
			          </i>Google+
			        </a>
		  	</div>
			 <!-- <hr> -->
			  <div class="form-group">
 			  	<h5 class="center_account_text">Don't have an account? <a href="/signup">Sign Up</a></h5>
				<!-- <h5 class="center_account_text"><a href="/forgot">Forgot Your Password?</a></h5> -->
			  </div>
		</form>
	</div>
</div>
