<% layout('layout') %>
<div class = "container">
	<div class="wrapper">
		<% if(hasErrors) {%>
              <% for(var i = 0; i <messages.length; i++) {%>
                  <div class="alert alert-danger">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">
                         &times;
                     </a>
                     <%= messages[i] %>
                  </div>
              <% } %>
          <% } %>
		<form id="signupForm" action="/signup" method="post" name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Sign Up</h3>
			   <input type="text" class="form-control" name="fullname" placeholder="Fullname" autofocus="" />
			   <br>
			   <input type="text" class="form-control" name="address" placeholder="Address" autofocus="" />
			   <br>
			   <input type="text" class="form-control" name="age" placeholder="Age" autofocus="" />
			   <br>
			  <input type="text" class="form-control" name="email" placeholder="Email" autofocus="" />
			  <br>
			  <input type="password" class="form-control" name="password" placeholder="Password"/>
				  <!-- <button class="btn btn-lg upload-add-btn" type="button" data-toggle="modal" data-target="#file">Add File</button>
				  <span id="completed"></span>
				  <div id="file" class="modal fade" tabindex="-1" role="dialog">
					 <div class="modal-dialog">
						<div class="modal-content">
						    <div class="modal-header">
							   <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
							   <div class="modal-title">Upload Image</div>
						    </div>
						    <div class="modal-body">
							   <div class="row">
								  <div class="progress">
									 <div class="progress-bar" role="progressbar"></div>
								  </div>
								  <button class="btn btn-lg upload-btn" type="button">Upload File</button>
								  <input type="file" class="form-control" name="upload" id="upload-input" style="display:none">
							   </div>
						    </div>
						</div>
					 </div>
				  </div> -->
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Signup</button>
		</form>
		<div class="center_account_text">
		    <h4>Already have an account? <a href="/login">Login</a></h4>
		</div>
	</div>
</div>
